body {
  background-color: #fff;
  overflow-x: hidden!important;
  /* overflow-y: hidden!important; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: GTWalsheimPro-Regular;
}

@font-face {
  font-family: GTWalsheimPro-Regular;
  src: url('./GTWalsheimPro-Regular.ttf');
}

@media only screen and (max-width: 768px){
  html, body {
      overflow-x: hidden!important;
  }
}

@media only screen and (max-width: 768px){
  .navbar {
    /* background-color: #fff!important; */
    padding: 15px 10px!important;
  }
}

@media only screen and (min-width: 768px){
  .navbar {
    padding: 15px 10px!important;
  }
}

.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  width: 140px;
}

.bg {
  position: relative;
  width: 100%;
  z-index: 0;
}


.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #3F3E3E!important;
}

.btn-primary {
  color: #fff;
  background-color: #00ABE7!important;
  border-color: #00ABE7!important;
}

.login-section {
  padding: 6em 0;
  background-color: #EFEDED;
}

.login-header {
  background-color: #fff;
  padding: 20px 40px;
  /* border-radius: 20px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
}

.login-bottom {
  background-color: #fff;
  padding: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}

@media (min-width: 992px){
  li.nav-item {
    padding-left: 30px;
  }
}

.secondary-color {
  color: #00ABE7;
}

.secondary-color a {
  text-decoration: none;
}

.small {
  color: #103861;
}

.text-secondary {
  color: #103861!important;
}

.text-secondary:hover {
  color: #fff!important;
}

.btn-outline-secondary {
  color: #000;
  border-color: #ced4da;
}

.form-check-input:checked {
  background-color: #00ABE7;
  border-color: #00ABE7;
}

.custom {
  width: 30px;
  height: 30px;
  margin-top: 3px;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #00ABE7;
}

.custom-check .custom {
  float: left;
  margin-left: -37px;
}

.radio-heading {
  font-size: 18px;
  color: #103861;
  font-weight: 600;
  letter-spacing: 1px;
}

.radio-container {
  padding-left: 14px;
}

.radio-container p {
  font-size: 14px;
}

.signed {
  width: 19px;
  height: 19px;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgb(0 171 231);
}

.checked {
  margin-left: 17px;
}

.form-check .signed {
  float: left;
  margin-left: -10px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 768px){
  .subtext {
    padding: 0px 250px;
  }

  .subtitle {
    font-size: 17px;
    line-height: 32px;
    color: #555A5E;
  }
  .banner-inner{
    position: absolute;
    /* left: 0; */
    top: 35%;
    width: 100%;
    text-align: center;
  }
  
}

@media only screen and (max-width: 768px){
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px){
  .mobile {
    display: none;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("./img/logo-icon.svg")!important;
}

@media only screen and (max-width: 768px){
  .subtext {
    padding: 0px 20px;
  }

  .subtitle {
    font-size: 17px;
    line-height: 32px;
    color: #555A5E;
  }
  .banner-inner{
    /* position: absolute; */
    /* left: 0; */
    /* top: 18%; */
    width: 100%;
    text-align: center;
  }
  .hero h2 {
    font-size: 48px;
  }
}

h2.hero {
  font-size: 54px;
  font-weight: 700;
  line-height: 62px;
  color: #103861;
  /* letter-spacing: 2px; */
}

h3.hero {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  color: #103861;
  /* letter-spacing: 2px; */
}


#content {
  /* padding-top:200px;   */
  /* position:absolute; */
  width:100%;
  bottom:45%;
  display:flex;
}

#flip {
  height: 67px;
  overflow: hidden;
  /* padding-top: 9px; */
  margin-top: -8px;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

/*  */

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


.btn-outline-dark {
  border-color: #EFEDED;
}

@media only screen and (min-width: 768px){
  .line-gradient {
    margin-top: -350px;
  }
}

@media only screen and (max-width: 768px){
  .line-gradient {
    margin-top: -134px;
  }
}



.logo-sect {
  padding: 15px 40px;
  margin: 64px 0px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 11px 8px 33px 42px #f5fbfe;
}

.pin {
  background-color: #A5B9C21A;
  padding: 15px 10px 7px 17px;
  border-radius: 20px;
}

.pin h6 {
  color: #555A5E;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.hero-button {
  margin: 90px 0px 60px 0px;
}

.shadow {
  box-shadow: 11px 8px 33px 42px #f5fbfe!important;
}

.icon-hero {
  color: #dd332b;
  font-size: 19px;
}

section.secondlayer {
  background-color: #F5F6F8;
  padding: 120px 0px 168px 0px;
}

.title-content {
  margin-top: 40px;
}

.title-content h6 {
  font-size: 24px;
  font-weight: 500;
  color: #103861;
}

.title-content p {
  font-size: 18px;
  font-weight: 400;
  color: #555A5E;
}

.second-step {
  margin-top: -235px;
}

.second-step-mobile {
  margin-top: -169px;
}

.bg-text {
  font-weight: 700;
  font-size: 265.719px;
  line-height: 304px;
  color: rgba(245, 246, 248, 0.7);
  position: absolute;
}

.card-bg {
  padding: 120px 20px 70px 20px;
  background: #FFF;
  border: 1px solid #D9D9D9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30.7484px;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg p {
  font-size: 13px !important;
  line-height: 16px;
  color: #00ABE7;
}

.card-bg h6 {
  font-size: 16px!important;
  line-height: 20px;
  color: #103861;
}

.card-bg h2 {
  font-size: 45px!important;
  line-height: 50px;
  color: #103861;
  font-weight: 700;
}


.app-card {
  margin-top: 140px;
  margin-bottom: 20px;
}

@media (min-width: 992px){
  .skew {
    margin-top: 65px;
    /* margin-bottom: 60px; */
  }
}

@media (max-width: 767.98px){
  .skew {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}

.text-line {
  text-decoration: line-through;
  color: #827F7F;
  font-size: 17px;
}

.text-line :hover {
  text-decoration: line-through;
  color: #827F7F;
  font-size: 17px;
}

.btn-outline-dark-line:hover {
  color: #827F7F;
  text-decoration: line-through;
  /* background-color: #212529; */
  border-color: #EFEDED;
}

.btn-outline-dark-line {
  border-color: #EFEDED;
}


.button-space {
  margin: 90px 0px;
}

.team-section {
  padding: 90px 0px;
  background-color: #F6F9FC;
  background-image: url("./img/bg-animation.gif");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;

}

.team-section h2 {
  font-size: 48px;
  color: #103861;
  line-height: 55px;
  font-weight: 700;
}

.team-section h6 {
  font-size: 20px;
  line-height: 23px;
  color: #555A5E;
  font-weight: 400;
}

.join-section {
  padding: 90px 0px;
  background-color: #000000;
  

}

.join-section h2 {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
}

.listed {
  font-size: 20px;
  color: #827F7F;
  font-weight: 400;
}

::marker {
  font-size: 27px;
}



@media (min-width: 992px){
  .wavy {
    background-image: url("./img/wave.gif");
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: contain;
    padding: 100px 0px;
  }
}

.counter {
  background: #111111;
  padding: 40px 0px;
  /* border: 1px solid #ffffff30; */
  border-top: 1px solid #ffffff30 ;
  border-bottom: 1px solid #ffffff30 ;
}

.counter h3 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 800;
  color: #fff;
}

.counter h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #827F7F;
}

.workspaces-section {
  padding: 90px 0px;
  background: #fff;
}

.workspaces-section h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #103861;
}

.listed-colored {
  font-size: 20px;
  color: #103861;
  font-weight: 400;
}

.listed-colored li::marker {
  font-size: 27px;
  color: #00ABE7;
}

.logo-house {
  padding: 90px 0px;
  background-color: #F1F2F6;
  border-radius: 90px 90px 0px 0px;
}

.logo-house h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #103861;
}

.footer-section {
  padding: 100px 0px 50px 0px;
  background-color: #000D1A;
}

.footer-section h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #fff;
}

.copyright {
  padding: 150px 0px 0px 0px;
}

.footer-copyright li {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

/* .list-unstyled {
  padding-left: 0px!important;
  list-style: none;
} */

.footer-section .footer-copyright {
  color: #D9D9D9;
  padding-left: 0px;
}

h2.heroteam {
  font-size: 60px;
  font-weight: 700;
  line-height: 73px;
  background: linear-gradient(90deg, #77DCFF 3%, #FF64FF 28.85%, #303030 47.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media only screen and (min-width: 768px){
  .subtext {
    padding: 0px 250px;
  }

  .subtitle {
    font-size: 17px;
    line-height: 32px;
    color: #555A5E;
  }
  .banner-inn {
    position: absolute;
    /* left: 0; */
    top: 45%;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px){
  .subtext {
    padding: 0px 20px;
  }

  
  .banner-inn{
    position: absolute;
    /* left: 0; */
    top: 54%;
    width: 100%;
    text-align: center;
  }

  h2.heroteam {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    background: linear-gradient(90deg, #77DCFF 3%, #FF64FF 28.85%, #303030 47.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

@media (max-width: 767.98px){
  h2.hero {
    font-size: 41px;
    font-weight: 700;
    line-height: 50px;
    color: #103861;
    /* letter-spacing: 2px; */
}
}

.account {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #103861;
}

.core-section h2 {
  font-size: 48px;
  color: #103861;
  line-height: 55px;
  font-weight: 700;
}

.core-section {
  padding: 90px 0px;
}

.core-bg {
  background-color: #F5F5F5;
  padding: 50px 15px;
  border-radius: 20px;
}

.core-bg h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #103861;

}

.core-bg p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #555A5E;

}