body {
  background-color: #fff;
  overflow-x: hidden!important;
  /* overflow-y: hidden!important; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: 'GT Walsheim Pro', sans-serif;
}

@media only screen and (max-width: 768px){
  html, body {
      overflow-x: hidden!important;
  }
}

.logo {
  width: 140px;
}

.navbar {
  background-color: #fff!important;
  padding: 22px 10px!important;
}

.nav-link {
  font-size: 18px;
  color: #3F3E3E!important;
}

.btn-primary {
  color: #fff;
  background-color: #00ABE7!important;
  border-color: #00ABE7!important;
}
